# CityBikes

Send a request to CityBikes for the city of your choice.

In [10]:
import requests
import pandas as pd
import json

# choose Quebec, Canada citybikes API
response = requests.get('http://api.citybik.es/v2/networks/avelo-quebec?fields=stations')

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [11]:
result = response.json()
stations = result['network']['stations']

Put your parsed results into a DataFrame.

In [12]:
dataframe = pd.json_normalize(stations )
df_new = dataframe. iloc[:, [1,3, 4]]
file_name = 'stations.csv'


# save Quebec, Canada city all bike stations information to stations.csv file
df_new.insert(0, 'bikestation',range(0, 0 + len(df_new)))
df_new.to_csv(file_name, encoding='utf-8', index=False)
df_new

    bikestation  free_bikes   latitude  longitude
0             0           7  46.786588 -71.258231
1             1           6  46.784041 -71.249391
2             2           9  46.829433 -71.244066
3             3           3  46.812403 -71.220411
4             4          14  46.826553 -71.245978
..          ...         ...        ...        ...
69           69           5  46.836559 -71.216101
70           70          15  46.812317 -71.242166
71           71          15  46.807752 -71.215743
72           72           7  46.806292 -71.221078
73           73          13  46.814340 -71.224898

[74 rows x 4 columns]